
/* Brand color definitions - move this to core styling file later*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* Type definitions */
$primary-typeface:'Rubik', sans-serif;
$t200-font-size:64px;
$t200-font-weight:'light';
$t200-line-height:64px;

$t100-font-size:44px;
$t100-font-weight:'regular';
$t100-line-height:48px;

$h600-font-size:36px;
$h600-font-weight:'light';
$h600-line-height:45px;
h1 {
    font-size:$h600-font-size;
    font-weight:$h600-font-weight;
    line-height:$h600-line-height;
}
$h500-font-size:24px;
$h500-font-weight:'light';
$h500-line-height:30px;
h2 {
    font-size:$h500-font-size;
    font-weight:$h500-font-weight;
    line-height:$h500-line-height;
}
$h400-font-size:20px;
$h400-font-weight:'light';
$h400-line-height:25px;
h3 {
    font-size:$h400-font-size;
    font-weight:$h400-font-weight;
    line-height:$h400-line-height;
}
$h300-font-size:18px;
$h300-font-weight:'regular';
$h300-line-height:23px;
h4 {
    font-size:$h300-font-size;
    font-weight:$h300-font-weight;
    line-height:$h300-line-height;
}
$h200-font-size:14px;
$h200-font-weight:'regular';
$h200-line-height:18px;
h5 {
    font-size:$h200-font-size;
    font-weight:$h200-font-weight;
    line-height:$h200-line-height;
}
$h100-font-size:14px;
$h100-font-weight:'regular';
$h100-line-height:16px;
h6 {
    font-size:$h100-font-size;
    font-weight:$h100-font-weight;
    line-height:$h100-line-height;
}

$caption-font-size:12px;
$caption-font-weight:'regular';
$caption-line-height:18px;
.caption {
    font-size:$caption-font-size;
    font-weight:$caption-font-weight;
    line-height:$caption-line-height;
}
$legal-font-size:11px;
$legal-font-weight:'regular';
$legal-line-height:17px;
.legal {
    font-size:$legal-font-size;
    font-weight:$legal-font-weight;
    line-height:$legal-line-height;
}
$p-font-size:14px;
$p-font-weight:'light';
$p-line-height:21px;
p {
    font-size:$p-font-size;
    font-weight:$p-font-weight;
    line-height:$p-line-height;
}


$primary-color: #424496;
$secondary-color: #6470E7;
$tertiary-color: #42B3B9;
$disabled-color: #E9E9E9;
$neutral-dark: #434343;
$default-font-size:14;
$button-text-color:#FFF;

/*Buttons - move this to _button.scss later*/
$button-padding: 10px;
$button-hover-color:#6470E7;
$button-focus-border-color:#6FA9FF;
$button-border-radius:68px;



/*System messages */ 
$warning-color:#FFAB00;
$error-color:#FF5230;
$confirmation-color:#00B583;
$information-color: $primary-color;


$page-safe-margins:20px;

body {
    font-family:$primary-typeface;
}
ul {
    list-style:none;
}

li {
    margin:0;
    padding:0
}

input { 
    font-size:$p-font-size;
}
h1 {
    font-size:$h600-font-size;
    font-weight:$h600-font-weight;
    line-height: $h600-line-height;
}

h2 {
    font-size:$h500-font-size;
    font-weight:$h500-font-weight;
    line-height: $h500-line-height;
}

h3 {
    font-size:$h400-font-size;
    font-weight:$h400-font-weight;
    line-height: $h400-line-height;
}

h4 {
    font-size:$h300-font-size;
    font-weight:$h300-font-weight;
    line-height: $h300-line-height;
}
p {
    margin:0;
    font-size:$p-font-size;
    font-weight:$p-font-weight;
    line-height: $p-line-height;
    padding:0;
}
.zs-button {
    background-color:$primary-color;
    
    border:none;
    color:$button-text-color;
    border-radius:$button-border-radius;
    padding:$button-padding;
    padding-left:15px;
    padding-right:15px;
    font-size:10;
}

.button-secondary {
    background: #FFFFFF;
    border: 2px solid #424496;
    font-size: 14px;
    color: #000000;
}



.zs-button:focus {
border-radius: 68px;
border: 2px solid $secondary-color;
outline:none;
}

.zs-button:hover{
    background-color:$secondary-color
}

.zs-system-message{
    background: #FFFFFF;
    border: 2px solid;
    width:600px;
    border-radius: 1px;
    padding: 4px 10px 4px 10px;
}
.inline-icon {
    margin-top:20px;
    padding-top:15px;
    display:inline;
}

.zs-system-message > * {
    display:inline-block; 
}

.zs-system-message p {
    line-height:34px;
}

.zs-system-close-icon {
    line-height:34px;
    float:right;
    padding-top:7px;
}

.zs-system-message-icon {
    line-height:0px;
    margin-right:15px;
    padding-bottom:-5px;

}


.short-message {
    width:400px;
}

.warning{
    border-color:$warning-color;
}

.information{
    border-color:$information-color;
}

.error{
    border-color:$error-color
}

.confirmation{
    border-color:$confirmation-color
}

.warning-icon{
    color:$warning-color;
}

.error-icon{
    color:$error-color;
}

.confirmation-icon{
    color:$confirmation-color
}

.information-icon{
    color:$primary-color;
}

.zs-error-underline {
    margin-top:15px;
}
.zs-error-underline > *{
    display:inline;
    
}

.error-msg-text {
    display:inline-block;
    padding-top:-5px;
}


.input-field-label {
    padding-bottom:10px;
    display:block;
}


$navigation-bar-height:80px;



.copyright-holder {
    line-height:$navigation-bar-height;
    margin:0;
    display:block;
}


.zs-range-container{
    display:grid;
    width:600px;
    grid-template-columns: 1fr 8fr 1fr 1fr;
}

.zs-range-container > *{
    text-align:center;
}
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    margin-top:-5px;
    background: $primary-color;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: $primary-color;
    border-radius: 10px;
  }

  .slider-value {
      width:60px;
  }

  .zs-image-graph-bg {
      background-color:'red';
      width:1000;
      height:400;
  }

  .zs-graph-background {
      position:absolute;
      width:600px;
      height:400px;
      margin-top:-300px;
      z-index:-99999;
  }

  .zs-text-box {
      /* Rectangle 4: */
    background: #FFFFFF;
    border: 1px solid $primary-color;
    border-radius: 2px;
    font-size:$p-font-size;
    padding:8px;
    outline: none !important;
  }

  .zs-text-box:read-only {
    /* Rectangle 4: */

  border: 1px solid $disabled-color;

}

  .zs-text-box:focus {
      border:1px solid $button-focus-border-color;
  }

  .zs-text-box:required {
    border:1px solid $error-color;
  }

  .zs-input-label {
      display:block;
      line-height:40px;
  }

  input[type=text] {
      line-height:100%;
  }
  .zs-toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .zs-toggle-switch input {display:none;}
  
  .zs-tooltip {
      border:1px solid black !important;
      background-color:white !important;
  }

  .zs-tooltip.place-top:after {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    bottom: -6px !important;
    margin-left: -8px !important;
    border-bottom-width: 6px !important;
    }
  /* The slider */
  .zs-toggle-slider {
    position: absolute;
    cursor: pointer;
    border:2px solid $neutral-dark;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .zs-toggle-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: $neutral-dark;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .zs-toggle-slider {
    background-color: white;

    border:2px solid $primary-color;
  }
  
  input:focus + .zs-toggle-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .zs-toggle-slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
    background-color:$primary-color;
  }
  
  /* Rounded sliders */
  .zs-toggle-slider.round {
    border-radius: 34px;
  }
  
  .zs-toggle-slider.round:before {
    border-radius: 50%;
  }

  .checkhandle{
      background-color:blue;
  }


  .zs-progress-tracker > ul{
      border-left:4px solid $primary-color;
      padding-top:10px;
      height:100%;
      display:block;
  }

  .zs-progress-bulb { 
    .zs-progress-bulb .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 8px;
        top: 4px;
        left: 4px;
        margin: auto;
      }
      
      .zs-progress-bulb:checked ~ .check {
        border: 3px solid #424496;
      }
      
      .zs-progress-bulb:checked ~ .check::before{
        background: #424496;
      }
  }



  ul li .progress-bulb{
    display: block;
    position: absolute;
    border: 3px solid #767676;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    top: 17px;
    left: 20px;
    z-index: 5;
  }
  
  ul li:hover .progress-bulb {
    /*border: solid #FFFFFF;*/
  }
  
  ul li .progress-bulb::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 4px;
    left: 4px;
    margin: auto;
  }
  
  input[type=radio]:checked ~ .progress-bulb {
    border: 3px solid #424496;
  }
  
  input[type=radio]:checked ~ .progress-bulb::before{
    background: #424496;
  }


  #footer{
    width:100%;
}

#footer-top-bar {
    background-color:$disabled-color;
    display:grid;
    padding-left:$page-safe-margins;
    padding-right:$page-safe-margins;
    grid-template-columns: 2fr 2fr;
}

#footer-bottom-bar {
    background-color:$primary-color;
    color:white;    
    padding-left:$page-safe-margins;
    padding-right:$page-safe-margins;        
    height:$navigation-bar-height;
    display:grid;
    grid-template-columns: 2fr 2fr;
}

.copyright-holder p{
    width:200px;
    line-height:80px;
}

ul.zs-footer-menu, ul.zs-legal-menu {
    width:400px;
    padding:0;  
    margin:0;
}
.footer-menu-item {
    width:60px;
    padding:0;
    margin:0;
    margin-right:40px;
    line-height:$navigation-bar-height;
    float:left;
    line-height:80px;
    text-align:center;
    display:inline;
}

.footer-menu-item.legal{
    width:120px;
    color:white;
    opacity:0.7;
    margin-right:20px;

}


#main-header {
    width:100%;
    height:80px;
    background-color:white;
    display:grid;
    grid-template-columns: 1fr 720px;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,0.06);
    border-radius: 4px;
}

#main-header > * {
    line-height:$navigation-bar-height;
}
#logo-container {
    width:200px;
    height:100%;
    display:inline-block;
}

#logo-container h2 {
    padding:0;
    margin:0;
    line-height:$navigation-bar-height;
    text-align:center;
}

#header-right-container {
    width: 100%;
}

#header-menu {
    display:inline-block;
    width:400px;
    height:100%;
    float:left;
    min-width:300px;
}

#header-controls {
    width:300px;
    display:inline-block;
    height:40px;
    line-height:40px;
    margin-top:20px;
    float:right;
    border-left:1px solid rgb(233, 233, 233);
}

#header-controls ul, #header-menu ul {
margin:0;
padding:0;
max-height:$navigation-bar-height;
}


#header-controls li, #header-menu li {
    float:left; 
    height:$navigation-bar-height;
    margin:0;
    padding:0;
    width:130px;
    display:block;
    text-align:center;
}
#header-menu li:hover {
    border-bottom:3px solid $primary-color;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}




  .first-list-item {
      padding-top:40px;
      border-top:1px solid black;
  }
  
  

  .disabled {
      opacity: 0.5;
  }

  .btn-disabled {
      background-color:$disabled-color;
      color:black;
  }


  .btn-disabled:hover {
    background-color:$disabled-color;
    color:black;
}

.button-secondary:hover {
    background: #424496;
    border: 2px solid #424496;
    font-size: 14px;
    color: white;
    
}

.tooltip [class$="inner"] {
    background-color: background-color;
    border: 1px solid background-color;
  }
  
  .tooltip [class$="arrow"] {
    border-top: 5px solid background-color !important;
  }


  @media only screen and (max-width: 900px) {

    #main-header {
        width:100%;
        height:auto;
        box-shadow: 0 2px 3px 1px rgba(0,0,0,0.06);
        border-radius: 4px;
        clear:both;
        display:block;
        overflow:hidden;

    }
    
    #main-header > * {
        clear:both;
        line-height:$navigation-bar-height;
    }
    #logo-container {
        width:100%;
        height:100%;
        border-bottom:1px solid rgb(223, 223, 223);
        clear:both;

    }
    
    #logo-container h2 {
        padding:0;
        display:inline-block;
        width:200px;
        
        margin:0;
        line-height:$navigation-bar-height;
        text-align:center;
    }
    
    #header-right-container {
        clear:both;
        display:block;
        width: 100%;

    }
    
    #header-menu {
        width:100%;
        clear:both;
    }
    
    #header-controls {
        width:100%;
        display:block;
        height:40px;
        line-height:40px;
        margin-top:20px;
        clear:both;
        border-top:1px solid rgba(202, 202, 202, 0.4);
        padding-top:20px;
        padding-bottom:20px;
    }

    
    #header-controls ul, #header-menu ul {
    margin:0;
    padding:0;
    clear:both;

    }

    #header-controls > ul{
        display:grid;
        padding-left:20px;
        padding-bottom:40px;
        grid-template-columns:1fr 1fr;
        justify-content: space-around;
    }


    #header-controls li, #header-menu li {
        margin:0;
        padding:0;
        width:130px;
        float:left;
        display:block;
    }

    #header-menu li {
        clear:both;
        text-align:left;
        width:100%;
    }
    #header-menu li:hover {
        border-bottom:none;

    }
    .inset-hover-border {
        height:40px;
        margin-top:20px;
        padding-left:40px;
        line-height:40px;
        display:inline-block;
    }
    .inset-hover-border:hover {
        width:80%;

        border-left:3px solid $primary-color;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #footer-top-bar {
        display:block;
        overflow:hidden;
    }

    .zs-logotype {
        width:100%;
        clear:both;
    }

    .footer-menu-item {
        margin-bottom:40px;
    }

    /* Default State */
 #burger-holder {
    width: 50px;
    margin-top:15px;
    margin-right:15px;
    height: 50px;
    float:right;
    line-height: 100px;
    color: white;
    text-align: center;
 }

.burger-icon {
    margin-left:15px;
    margin-top:22px;
}
#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 20px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -7px;
}
#nav-toggle span:after {
  bottom: -7px; 
}
}





// Okay legit CSS now
.special-text {
    position: relative;
    cursor: pointer;
  }
  
  /* Show the tooltip on hover */
  .special-text:hover .special-text__tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .special-text__tooltip {
    font-size: 14px;
    
    position: absolute;
    background-color:white;
    width: 150px;
    margin-left:-77px;
    line-height:20px;
    left: 0%;
    bottom: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    
    /* Hide the tooltip by default */
    visibility: hidden;
    opacity: 0;
    
    /* Prettify */
    text-align: left;

  }
  
  /* The bordered part of the triangle */
  $border-width: 10px;
  
  .special-text__tooltip::before,
  .special-text__tooltip::after {
    content: "";
    position: absolute;
    border-left: $border-width solid transparent;
    border-right: $border-width solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -$border-width;
  }
  
  .special-text__tooltip::before {
    border-top: $border-width solid #000;
    margin-top: 0px;
  }
  
  /* The white fill of the triangle */
  .special-text__tooltip::after {
    border-top: $border-width solid white;
    margin-top: -2px;
    z-index: 1;
  }


  .next-bridge {
      height:32px;
      margin-left:29px;
      position:absolute;
      margin-top:36px;
      background-color:#767676;
      width:3px;
  }

.filled {
      background-color:$primary-color;
  }

