
/* Brand color definitions - move this to core styling file later*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* Type definitions */
$primary-typeface:'Rubik', sans-serif;
$t200-font-size:64px;
$t200-font-weight:'light';
$t200-line-height:64px;

$t100-font-size:44px;
$t100-font-weight:'regular';
$t100-line-height:48px;

$h600-font-size:36px;
$h600-font-weight:'light';
$h600-line-height:45px;

$h500-font-size:24px;
$h500-font-weight:'light';
$h500-line-height:30px;

$h400-font-size:20px;
$h400-font-weight:'light';
$h400-line-height:25px;

$h300-font-size:18px;
$h300-font-weight:'regular';
$h300-line-height:23px;

$h200-font-size:14px;
$h200-font-weight:'regular';
$h200-line-height:18px;

$h100-font-size:14px;
$h100-font-weight:'regular';
$h100-line-height:16px;

$caption-font-size:12px;
$caption-font-weight:'regular';
$caption-line-height:18px;

$legal-font-size:11px;
$legal-font-weight:'regular';
$legal-line-height:17px;

$p-font-size:14px;
$p-font-weight:'light';
$p-line-height:21px;



$primary-color: #424496;
$secondary-color: #6470E7;
$tertiary-color: #42B3B9;
$disabled-color: #E9E9E9;
$neutral-dark: #434343;
$default-font-size:14;
$button-text-color:#FFF;

/*Buttons - move this to _button.scss later*/
$button-padding: 10px;
$button-hover-color:#6470E7;
$button-focus-border-color:#6FA9FF;
$button-border-radius:68px;



/*System messages */ 
$warning-color:#FFAB00;
$error-color:#FF5230;
$confirmation-color:#00B583;
$information-color: $primary-color;


$page-safe-margins:20px;

body {
    font-family:$primary-typeface;
}
ul {
    list-style:none;
}

input { 
    font-size:$p-font-size;
}
h1 {
    font-size:$h600-font-size;
    font-weight:$h600-font-weight;
    line-height: $h600-line-height;
}

h2 {
    font-size:$h500-font-size;
    font-weight:$h500-font-weight;
    line-height: $h500-line-height;
}

h3 {
    font-size:$h400-font-size;
    font-weight:$h400-font-weight;
    line-height: $h400-line-height;
}

h4 {
    font-size:$h300-font-size;
    font-weight:$h300-font-weight;
    line-height: $h300-line-height;
}
p {
    margin:0;
    font-size:$p-font-size;
    font-weight:$p-font-weight;
    line-height: $p-line-height;
    padding:0;
}
.zs-button {
    background-color:$primary-color;
    width:100px;
    border:none;
    color:$button-text-color;
    border-radius:$button-border-radius;
    padding:$button-padding;
    font-size:10;
}

.button-secondary {
    background: #FFFFFF;
    border: 2px solid #424496;
    font-size: 14px;
    color: #000000;
}

.zs-button:focus {
border-radius: 68px;
border: 2px solid $secondary-color;
outline:none;
}

.zs-button:hover{
    background-color:$secondary-color
}

.zs-system-message{
    background: #FFFFFF;
    border: 2px solid;
    width:600px;
    border-radius: 1px;
    padding: 4px 10px 4px 10px;
}


.zs-system-message > * {
    display:inline-block; 
}

.zs-system-message p {
    line-height:34px;
}

.zs-system-message-icon {
    line-height:34px;
}


.short-message {
    width:400px;
}

.warning{
    border-color:$warning-color;
}

.error{
    border-color:$error-color
}

.confirmation{
    border-color:$confirmation-color
}

.warning-icon{
    color:$warning-color;
}

.error-icon{
    color:$error-color
}

.confirmation-icon{
    color:$confirmation-color
}



$navigation-bar-height:80px;

#footer{
    width:100%;
}

#footer-top-bar {
    background-color:$disabled-color;
    display:grid;
    padding-left:$page-safe-margins;
    padding-right:$page-safe-margins;
    grid-template-columns: 2fr 2fr;
}

#footer-bottom-bar {
    background-color:$primary-color;
    color:white;    
    padding-left:$page-safe-margins;
    padding-right:$page-safe-margins;        
    height:$navigation-bar-height;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), inset 0 4px 3px 0 rgba(0,0,0,0.30);
}

ul.zs-footer-menu {
    display:block;
    float:right;
    height:10;
    margin-right:0;
    width:300px;
}
.zs-footer-menu li {
    float:left;
    line-height:($navigation-bar-height/2);
    margin-left:20px;
    padding:0;
}

.copyright-holder {
    line-height:$navigation-bar-height;
    margin:0;
}


.zs-range-container{
    display:grid;
    width:600px;
    grid-template-columns: 1fr 8fr 1fr 1fr;
}

.zs-range-container > *{
    text-align:center;
}
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    margin-top:-5px;
    background: $primary-color;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: $primary-color;
    border-radius: 10px;
  }

  .slider-value {
      width:60px;
  }

  .zs-image-graph-bg {
      background-color:'red';
      width:1000;
      height:400;
  }

  .zs-graph-background {
      position:absolute;
      width:600px;
      height:400px;
      margin-top:-300px;
      z-index:-99999;
  }

  .zs-text-box {
      /* Rectangle 4: */
    background: #FFFFFF;
    border: 1px solid $primary-color;
    border-radius: 2px;
    font-size:$p-font-size;
    padding:8px;
    outline: none !important;
  }

  .zs-text-box:read-only {
    /* Rectangle 4: */

  border: 1px solid $disabled-color;

}

  .zs-text-box:focus {
      border:1px solid $button-focus-border-color;
  }

  .zs-text-box:required {
    border:1px solid $error-color;
  }

  .zs-input-label {
      display:block;
      line-height:40px;
  }

  input[type=text] {
      line-height:100%;
  }
  .zs-toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .zs-toggle-switch input {display:none;}
  
  /* The slider */
  .zs-toggle-slider {
    position: absolute;
    cursor: pointer;
    border:2px solid $neutral-dark;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .zs-toggle-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: $neutral-dark;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .zs-toggle-slider {
    background-color: white;

    border:2px solid $primary-color;
  }
  
  input:focus + .zs-toggle-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .zs-toggle-slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
    background-color:$primary-color;
  }
  
  /* Rounded sliders */
  .zs-toggle-slider.round {
    border-radius: 34px;
  }
  
  .zs-toggle-slider.round:before {
    border-radius: 50%;
  }

  .checkhandle{
      background-color:blue;
  }

  .zs-tooltip {
      background-color:red;
  }