/* Brand color definitions - move this to core styling file later*/
@import url("https://fonts.googleapis.com/css?family=Rubik");
/* Type definitions */
h1 {
  font-size: 36px;
  font-weight: "light";
  line-height: 45px; }

h2 {
  font-size: 24px;
  font-weight: "light";
  line-height: 30px; }

h3 {
  font-size: 20px;
  font-weight: "light";
  line-height: 25px; }

h4 {
  font-size: 18px;
  font-weight: "regular";
  line-height: 23px; }

h5 {
  font-size: 14px;
  font-weight: "regular";
  line-height: 18px; }

h6 {
  font-size: 14px;
  font-weight: "regular";
  line-height: 16px; }

.caption {
  font-size: 12px;
  font-weight: "regular";
  line-height: 18px; }

.legal {
  font-size: 11px;
  font-weight: "regular";
  line-height: 17px; }

p {
  font-size: 14px;
  font-weight: "light";
  line-height: 21px; }

/*Buttons - move this to _button.scss later*/
/*System messages */
body {
  font-family: "Rubik", sans-serif; }

ul {
  list-style: none; }

li {
  margin: 0;
  padding: 0; }

input {
  font-size: 14px; }

h1 {
  font-size: 36px;
  font-weight: "light";
  line-height: 45px; }

h2 {
  font-size: 24px;
  font-weight: "light";
  line-height: 30px; }

h3 {
  font-size: 20px;
  font-weight: "light";
  line-height: 25px; }

h4 {
  font-size: 18px;
  font-weight: "regular";
  line-height: 23px; }

p {
  margin: 0;
  font-size: 14px;
  font-weight: "light";
  line-height: 21px;
  padding: 0; }

.zs-button {
  background-color: #424496;
  border: none;
  color: #FFF;
  border-radius: 68px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10; }

.button-secondary {
  background: #FFFFFF;
  border: 2px solid #424496;
  font-size: 14px;
  color: #000000; }

.zs-button:focus {
  border-radius: 68px;
  border: 2px solid #6470E7;
  outline: none; }

.zs-button:hover {
  background-color: #6470E7; }

.zs-system-message {
  background: #FFFFFF;
  border: 2px solid;
  width: 600px;
  border-radius: 1px;
  padding: 4px 10px 4px 10px; }

.inline-icon {
  margin-top: 20px;
  padding-top: 15px;
  display: inline; }

.zs-system-message > * {
  display: inline-block; }

.zs-system-message p {
  line-height: 34px; }

.zs-system-close-icon {
  line-height: 34px;
  float: right;
  padding-top: 7px; }

.zs-system-message-icon {
  line-height: 0px;
  margin-right: 15px;
  padding-bottom: -5px; }

.short-message {
  width: 400px; }

.warning {
  border-color: #FFAB00; }

.error {
  border-color: #FF5230; }

.confirmation {
  border-color: #00B583; }

.warning-icon {
  color: #FFAB00; }

.error-icon {
  color: #FF5230; }

.confirmation-icon {
  color: #00B583; }

.information-icon {
  color: #424496; }

.zs-error-underline {
  margin-top: 15px; }

.zs-error-underline > * {
  display: inline; }

.error-msg-text {
  display: inline-block;
  padding-top: -5px; }

.input-field-label {
  padding-bottom: 10px;
  display: block; }

.copyright-holder {
  line-height: 80px;
  margin: 0;
  display: block; }

.zs-range-container {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr 8fr 1fr 1fr; }

.zs-range-container > * {
  text-align: center; }

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  margin-top: -5px;
  background: #424496;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #424496;
  border-radius: 10px; }

.slider-value {
  width: 60px; }

.zs-image-graph-bg {
  background-color: 'red';
  width: 1000;
  height: 400; }

.zs-graph-background {
  position: absolute;
  width: 600px;
  height: 400px;
  margin-top: -300px;
  z-index: -99999; }

.zs-text-box {
  /* Rectangle 4: */
  background: #FFFFFF;
  border: 1px solid #424496;
  border-radius: 2px;
  font-size: 14px;
  padding: 8px;
  outline: none !important; }

.zs-text-box:read-only {
  /* Rectangle 4: */
  border: 1px solid #E9E9E9; }

.zs-text-box:focus {
  border: 1px solid #6FA9FF; }

.zs-text-box:required {
  border: 1px solid #FF5230; }

.zs-input-label {
  display: block;
  line-height: 40px; }

input[type=text] {
  line-height: 100%; }

.zs-toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px; }

/* Hide default HTML checkbox */
.zs-toggle-switch input {
  display: none; }

.zs-tooltip {
  border: 1px solid black !important;
  background-color: white !important; }

/* The slider */
.zs-toggle-slider {
  position: absolute;
  cursor: pointer;
  border: 2px solid #434343;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.zs-toggle-slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: #434343;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .zs-toggle-slider {
  background-color: white;
  border: 2px solid #424496; }

input:focus + .zs-toggle-slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .zs-toggle-slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background-color: #424496; }

/* Rounded sliders */
.zs-toggle-slider.round {
  border-radius: 34px; }

.zs-toggle-slider.round:before {
  border-radius: 50%; }

.checkhandle {
  background-color: blue; }

.zs-progress-tracker > ul {
  border-left: 4px solid #424496;
  padding-top: 10px;
  height: 100%;
  display: block; }

.zs-progress-bulb .zs-progress-bulb .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 4px;
  left: 4px;
  margin: auto; }
.zs-progress-bulb .zs-progress-bulb:checked ~ .check {
  border: 3px solid #424496; }
.zs-progress-bulb .zs-progress-bulb:checked ~ .check::before {
  background: #424496; }

ul li .progress-bulb {
  display: block;
  position: absolute;
  border: 3px solid #767676;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 17px;
  left: 20px;
  z-index: 5; }

ul li:hover .progress-bulb {
  /*border: solid #FFFFFF;*/ }

ul li .progress-bulb::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 4px;
  left: 4px;
  margin: auto; }

input[type=radio]:checked ~ .progress-bulb {
  border: 3px solid #424496; }

input[type=radio]:checked ~ .progress-bulb::before {
  background: #424496; }

#footer {
  width: 100%; }

#footer-top-bar {
  background-color: #E9E9E9;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 2fr 2fr; }

#footer-bottom-bar {
  background-color: #424496;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0 4px 3px 0 rgba(0, 0, 0, 0.3); }

.copyright-holder p {
  width: 200px;
  line-height: 80px; }

ul.zs-footer-menu, ul.zs-legal-menu {
  width: 400px;
  padding: 0;
  margin: 0; }

.footer-menu-item {
  width: 60px;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  line-height: 80px;
  float: left;
  line-height: 80px;
  text-align: center;
  display: inline; }

.footer-menu-item.legal {
  width: 120px;
  color: white;
  margin-right: 20px; }

#main-header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 720px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px; }

#main-header > * {
  line-height: 80px; }

#logo-container {
  width: 200px;
  height: 100%;
  display: inline-block; }

#logo-container h2 {
  padding: 0;
  margin: 0;
  line-height: 80px;
  text-align: center; }

#header-right-container {
  width: 100%; }

#header-menu {
  display: inline-block;
  width: 400px;
  height: 100%;
  float: left;
  min-width: 300px; }

#header-controls {
  width: 300px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  float: right;
  border-left: 1px solid rgba(202, 202, 202, 0.4); }

#header-controls ul, #header-menu ul {
  margin: 0;
  padding: 0;
  max-height: 80px; }

#header-controls li, #header-menu li {
  float: left;
  height: 80px;
  margin: 0;
  padding: 0;
  width: 130px;
  display: block;
  text-align: center; }

#header-menu li:hover {
  border-bottom: 3px solid #424496;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.first-list-item {
  padding-top: 40px;
  border-top: 1px solid black; }

.disabled {
  opacity: 0.5; }

.btn-disabled {
  background-color: #E9E9E9;
  color: black; }

.btn-disabled:hover {
  background-color: #E9E9E9;
  color: black; }

.button-secondary:hover {
  background: #424496;
  border: 2px solid #424496;
  font-size: 14px;
  color: white; }

.tooltip [class$="inner"] {
  background-color: background-color;
  border: 1px solid background-color; }

.tooltip [class$="arrow"] {
  border-top: 5px solid background-color !important; }

@media only screen and (max-width: 900px) {
  #main-header {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    clear: both;
    display: block;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.06); }

  #main-header > * {
    clear: both;
    line-height: 80px; }

  #logo-container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.06);
    border-bottom: 1px solid grey;
    clear: both; }

  #logo-container h2 {
    padding: 0;
    display: inline-block;
    width: 200px;
    background-color: green;
    margin: 0;
    line-height: 80px;
    text-align: center; }

  #header-right-container {
    clear: both;
    display: block;
    width: 100%; }

  #header-menu {
    width: 100%;
    clear: both; }

  #header-controls {
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    clear: both;
    border-left: 1px solid rgba(202, 202, 202, 0.4); }

  #header-controls ul, #header-menu ul {
    margin: 0;
    padding: 0;
    clear: both; }

  #header-controls > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around; }

  #header-controls li, #header-menu li {
    margin: 0;
    padding: 0;
    width: 130px;
    float: left;
    display: block; }

  #header-menu li {
    clear: both;
    text-align: left;
    width: 100%; }

  #header-menu li:hover {
    border-bottom: none; }

  .inset-hover-border {
    height: 40px;
    margin-top: 20px;
    padding-left: 40px;
    line-height: 40px;
    display: inline-block; }

  .inset-hover-border:hover {
    width: 80%;
    border-left: 3px solid #424496;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  #footer-top-bar {
    display: block;
    overflow: hidden; }

  .zs-logotype {
    width: 100%;
    clear: both; }

  .footer-menu-item {
    margin-bottom: 40px; } }

/*# sourceMappingURL=App.css.map */
